--extra-index-url https://download.pytorch.org/whl/cpu

flask
flask-cors
mysql-connector-python
requests
opencv-python-headless
numpy
scikit-learn
joblib
tensorflow-cpu
python-dotenv
torch
torchvision
ultralytics
gunicorn
